@model IEnumerable<Facilis.MVC.ViewModels.EventoViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Facilis, o seu site de gerenciamento de eventos</h2>
    <p class="lead">Cadastre-se, crie e participe dos melhores eventos do Brasil e do mundo. Conecte-se a pessoas com os mesmos interesses que você. Facilis é uma plataforma muito fácil e simples de entender e utilizar.</p>
</div>
<h2 class="page-header" style="text-align: center">Próximos eventos</h2>
<div class="container">
    @{int i = 0;}
    @foreach (var item in Model)
    {
        if (i == 0 || i % 4 == 0)
        {
            @Html.Raw("<div class=\"row\" style=\"margin-top: 15px \">")
        }

        <div class="col-md-3">
            <div class="thumbnail">

                <h2>@Html.DisplayFor(modelItem => item.Nome)</h2>
                <p>
                    @Html.DisplayFor(modelItem => item.DescricaoCurta)
                </p>

                <p>@Html.ActionLink("Mais detalhes", "DetalhesInscricao", "Eventos", new { id = item.EventoId }, new { htmlAttributes = new { @class = "btn btn-default" } })</p>
            </div>
        </div>

        if (i % 4 == 3 || i == Model.Count() - 1)
        {
            @Html.Raw("</div>")
        }
        i++;
    }
</div>
@*<script src="http://brm.io/js/libs/matchHeight/jquery.matchHeight-min.js"></script>
<script type="text/javascript">
    (function () {
        $(function () {
            $('.thumbnail').matchHeight({
                byRow: true,
                property: 'height',
                target: null,
                remove: false
            });
        });
    })();
</script>*@

