@model Facilis.MVC.ViewModels.ParticipanteViewModel

@{
    ViewBag.Title = "CancelarInscricao";
}

<h2>Cancelar Inscrição</h2>

<h3>Confirma o cancelamento da inscrição?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evento.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Evento.DataInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evento.DataInicial)
            @Html.DisplayFor(model => model.Evento.HoraInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataInscricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInscricao)
        </dd>
    </dl>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Confirmar" class="btn btn-danger" /> 
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
