@model Facilis.MVC.ViewModels.ParticipanteViewModel

@{
    ViewBag.Title = "Certificado";
    Layout = "~/Views/Shared/_LayoutPdf.cshtml";
}

<div class="container">
    <div class="borda-certificado">
        <h1 class="titulo-certificado">Certificado de Participação</h1>
        <hr />
        <h2 class="usuario">@Model.Usuario.Nome @Model.Usuario.Sobrenome</h2>
        <h3 class="evento">
            Participou de @Model.Evento.Nome
            em @Model.Evento.DataInicial.ToString("dd/MM/yyyy")
            das @Model.Evento.HoraInicial
            até @Model.Evento.DataFinal.ToString("dd/MM/yyyy") às @Model.Evento.HoraFinal
        </h3>
    </div>
</div>