@model IEnumerable<Facilis.MVC.ViewModels.ParticipanteViewModel>

@{
    ViewBag.Title = "Controle de participantes";
}

<h2>Controle de Participantes</h2>
<h4>@ViewBag.Evento</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("eventoId" , (object)ViewBag.EventoId)
    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInscricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cracha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Presenca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Certificado)
            </th>
            <th>
                <a href="@Url.Action("ImprimirListaPresenca", new { id = ViewBag.EventoId })" class="btn btn-primary" data-toggle="tooltip" 
                   data-placement="auto" title="Imprimir lista de presença" target="_blank">
                    <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                </a>
                <a href="@Url.Action("Index", "Email", new { id = ViewBag.EventoId })" class="btn btn-info" data-toggle="tooltip" data-placement="auto" title="Enviar e-mail">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                </a>
                <a href="@Url.Action("Index", "Eventos")" class="btn btn-default" data-toggle="tooltip" data-placement="auto" title="Voltar">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                </a>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Nome)
                    @Html.DisplayFor(modelItem => item.Usuario.Sobrenome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataInscricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cracha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Presenca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Certificado)
                </td>
                <td>
                    <a href="@Url.Action("Cracha", "Participantes",new { id = item.ParticipanteId})" , class="btn btn-primary" data-toggle="tooltip" data-placement="auto" title="Gerar crachá" target="_blank">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </a>
                    <a href="@Url.Action("MarcarPresenca", "Participantes",new { id = item.ParticipanteId, eventoId = item.EventoId })" , class="btn btn-success" data-toggle="tooltip" data-placement="auto" title="Marcar Presença">
                        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                    </a>
                    <a href="@Url.Action("Certificado", "Participantes",new { id = item.ParticipanteId})" , class="btn btn-info" data-toggle="tooltip" data-placement="auto" title="Gerar certificado" target = "_blank">
                        <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        }

    </table>
}