@model IEnumerable<Facilis.MVC.ViewModels.ParticipanteViewModel>

@{
    ViewBag.Title = "ControleParticipantes";
}

<h2>Controle de Participantes</h2>
<h4>@ViewBag.Evento</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("eventoId" , (object)ViewBag.EventoId)
    <div class="row">
        <div class="form-group col-md-12">
            @Html.ActionLink("Imprimir lista de presença", "ImprimirListaPresenca", new { id = ViewBag.EventoId }, new { @class = "btn btn-primary" , @target = "_blank" })
            @Html.ActionLink("Enviar e-mail", "Index", "Email", new { id = ViewBag.EventoId }, new { @class = "btn btn-primary" })
        </div>
    </div>
    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInscricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cracha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Presenca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Certificado)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Nome)
                    @Html.DisplayFor(modelItem => item.Usuario.Sobrenome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataInscricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cracha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Presenca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Certificado)
                </td>
                <td>
                    @Html.ActionLink("Crachá", "Cracha", new { id = item.ParticipanteId }, new { target = "_blank" }) |
                    @Html.ActionLink("Marcar Presença", "MarcarPresenca", new { id = item.ParticipanteId, eventoId = item.EventoId }) |
                    @Html.ActionLink("Certificado", "Certificado", new { id = item.ParticipanteId }, new { target = "_blank" })
                </td>
            </tr>
        }

    </table>
}