@model IEnumerable<Facilis.MVC.ViewModels.ParticipanteViewModel>

@{
    ViewBag.Title = "Minhas inscrições";
}

<h2>Minhas Inscrições</h2>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evento.DataInicial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInscricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCancelamento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Evento.Nome)
        </td>
        <td>
            @String.Format("{0:dd/MM/yyyy} {1}", item.Evento.DataInicial, item.Evento.HoraInicial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataInscricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCancelamento)
        </td>
        <td>
            @Html.ActionLink("Ver evento", "DetalhesInscricao", "Eventos", new { id = item.EventoId }, null) |
            @Html.ActionLink("Cancelar inscrição", "CancelarInscricao", new { id=item.ParticipanteId }) 
        </td>
    </tr>
}

</table>
