@model IEnumerable<Facilis.MVC.ViewModels.ParticipanteViewModel>

@{
    ViewBag.Title = "ListaParticipantes";
    Layout = "~/Views/Shared/_LayoutPdf.cshtml";
}

<h2 class="page-header">Lista dos Participantes</h2>
<h3 class="evento">Evento: @ViewBag.Evento</h3>
<table class="table">
    <tr>
        <th class="th">
            @Html.DisplayNameFor(model => model.Usuario.Nome)
        </th>
        <th class="th">
            @Html.DisplayNameFor(model => model.Usuario.Email)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="td">
            @Html.DisplayFor(modelItem => item.Usuario.Nome)
            @Html.DisplayFor(modelItem => item.Usuario.Sobrenome)
        </td>
        <td class="td">
            @Html.DisplayFor(modelItem => item.Usuario.Email)
        </td>
    </tr>
}

</table>
