@model Facilis.MVC.ViewModels.ArquivoViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Excluir arquivo</h2>

<h3>Confirma exclusão do arquivo?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-group row">
            <div class="col-md-12">
                <input type="submit" value="Excluir" class="btn btn-danger" />
                @Html.ActionLink("Voltar", "Edit", "Eventos", new { id = Model.EventoId }, new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>
