@model IEnumerable<Facilis.MVC.ViewModels.ArquivoViewModel>

<p>
    @Html.ActionLink("Create New", "Create", "Arquivos")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Arquivos", new { id=item.ArquivoId }, new { htmlAttributes = new { @class = "form-control" } }) |
            @Html.ActionLink("Details", "Details", "Arquivos", new { id=item.ArquivoId }, new { htmlAttributes = new { @class = "form-control" } }) |
            @Html.ActionLink("Delete", "Delete", "Arquivos", new { id=item.ArquivoId }, new { htmlAttributes = new { @class = "form-control" } })
        </td>
    </tr>
}

</table>
