@model Facilis.MVC.ViewModels.EventoViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes evento</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraFinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeVagas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantidadeVagas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomePalestrante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomePalestrante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailPalestrante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailPalestrante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoEvento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoEvento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.EventoId }, new { @class = "btn btn-primary" }) 
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
</p>
