@model Facilis.MVC.ViewModels.EventoViewModel

@{
    ViewBag.Title = "DetalhesInscricao";
}
<div>
    <h2>@Html.DisplayFor(model => model.Nome)</h2>
    <p>@(String.Format("{0:dd/MM/yyyy}, {1} - {2:dd/MM/yyyy}, {3}", Model.DataInicial, Model.HoraInicial, Model.DataFinal, Model.HoraFinal))</p>
</div>
<div>
    <hr />
    <h4><b>@Html.DisplayNameFor(model => model.Descricao)</b></h4>
    <p>@Html.DisplayFor(model => model.Descricao)</p>
</div>
<div>
    <hr />
    <h4><b>@Html.DisplayNameFor(model => model.NomePalestrante)</b></h4>
    <p>@Html.DisplayFor(model => model.NomePalestrante)</p>
    <p>@(String.Format("Contato: {0}", Model.EmailPalestrante))</p>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Arquivos
            </div>
            <div class="panel-body">
                @Html.Partial("~/Views/Arquivos/IndexDetalhes.cshtml", Model.Arquivos, new ViewDataDictionary { { "id", Model.EventoId.ToString() } })
            </div>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Vídeos
            </div>
            <div class="panel-body">
                @Html.Partial("~/Views/Videos/Index.cshtml", Model.Videos)
            </div>
        </div>
    </div>
</div>
@foreach (var item in Model.Videos)
{
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src=@item.URL></iframe>
    </div>
}

<div>
    <h3>Inscreva-se</h3>
    <p><b>Tipo do evento: </b>@Html.DisplayFor(model => model.TipoEvento)</p>
    <p><b>Vagas:</b> @Html.DisplayFor(model => model.QuantidadeVagas)</p>
    <p>@Html.ActionLink("Realizar Inscrição", "Inscricao", "Participantes", new { id = Model.EventoId }, new { htmlAttributes = new { @class = "btn btn-primary btn-lg" } })</p>
</div>
<p>
    @Html.ActionLink("Voltar", "Index", "Home")
</p>
