@model Facilis.MVC.ViewModels.CupomViewModel

@{
    ViewBag.Title = "Detalhe do cupom";
}

<h2>Detalhes cupom de desconto</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PercentualDesconto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PercentualDesconto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Validade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Validade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evento.Nome)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CupomId }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
</p>
