@model Facilis.MVC.ViewModels.VideoViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Novo Vídeo</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <h4>@ViewBag.Evento</h4>
        @Html.Hidden("eventoId", (object)ViewBag.EventoId)
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.URL, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.URL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.URL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <input type="submit" value="Gravar" class="btn btn-primary" />
                @Html.ActionLink("Voltar", "Edit", "Eventos", new { id = ViewBag.EventoId }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
