@model Facilis.MVC.ViewModels.VideoViewModel

@{
    ViewBag.Title = "Excluir vídeo";
}

<h2>Excluir vídeo</h2>

<h3>Confirma exclusão do vídeo?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>
            <a href="@Model.URL" class="btn-link" data-toggle="tooltip" data-placement="auto" title="Ver vídeo" target="_blank">
                Ver vídeo
            </a>
        </p>
        <div class="form-group row">
            <div class="col-md-12">
                <input type="submit" value="Excluir" class="btn btn-danger" />
                @Html.ActionLink("Voltar", "Edit", "Eventos", new { id = Model.EventoId }, new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>
