@model Facilis.MVC.ViewModels.VideoViewModel

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes vídeo</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>
    </dl>
</div>
<p>
    <a href="@Model.URL" class="btn-link" data-toggle="tooltip" data-placement="auto" title="Ver vídeo" target="_blank">
        Ver vídeo
    </a>
</p>
<div class="form-group row">
    <div class="col-md-12">
        @Html.ActionLink("Editar", "Edit", new { id = Model.VideoId }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Voltar", "Edit", "Eventos", new { id = Model.EventoId }, new { @class = "btn btn-default" })
    </div>
</div>
