@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Olá " + User.Identity.GetUserName() + "!", "Edit", "Account", new { id = User.Identity.GetUserId() }, htmlAttributes: new { title = "Manage" })
            </li>
            <li>
            <li>@Html.ActionLink("Minhas Inscrições", "Index", "Participantes", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Meus Eventos", "Index", "Eventos", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Novo Evento", "Create", "Eventos", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Cupons", "Index", "Cupons", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Relatórios <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Gráfico por Região", "GraficoPorRegiao", "Participantes", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Gráfico por Sexo", "GraficoPorSexo", "Participantes", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li role="separator" class="divider"></li>
                    <li>@Html.ActionLink("Relatório por Região", "RelatorioPorRegiao", "Participantes", routeValues: null, htmlAttributes: new { id = "registerLink"} )</li>
                    <li>@Html.ActionLink("Relatório por Sexo", "RelatorioPorSexo", "Participantes", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                </ul>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Sair</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Criar Conta", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
